@import "../../node_modules/bootstrap/scss/functions";
@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap";


@import "../components/NavBar/NavBar";
@import "../components/CartWidget/CartWidget.scss";
@import "../components/Itemcount/ItemCount.scss";
@import "../components/Item/Items.scss";
@import "../components/ItemDetail/ItemDetail.scss";
@import "../components/ItemInCart/ItemInCart.scss";


// @import "../../node_modules/sweet-alert/sweet-alert.css.js";

/* ============================================
Hero
============================================ */
.hero {
    background-image: url(../../public/img/hero-img-bg.jpg);
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 200px;
}

.btn {
    text-transform: uppercase;
}

.hero {
    h3 {
        text-transform: capitalize;
    }
}



/* ============================================
Utilities
============================================ */
.mt-200 {
    margin-top: 200px;
}

.w-65px {
    width: 65px;
}