@import "../../node_modules/bootstrap/scss/functions";
@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap";


@import "../components/NavBar/NavBar";
@import "../components/CartWidget/CartWidget.scss";
@import "../components/Itemcount/ItemCount.scss";
// @import "../../node_modules/sweet-alert/sweet-alert.css.js";

/* ============================================
Hero
============================================ */
main.hero {
    background-image: url(../../public/img/hero-img-bg.jpg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}